body {
  margin: 0;
  padding: 0;
}
h1 {
  color: #C9A2FA;
  font-size: 76px;
  z-index: 1;
}
h3 {
  color: #9BA3C0;
  margin-top: -50px;
  margin-bottom: 80px;
}
.main-page {
  background-color: #89E8EE;
  height: 100vh;
  justify-content: center;
  display: flex;
}
.main-form {
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 80%;
}
.main-button {
  background-color:  #C9A2FA;
  cursor: pointer;
  outline: none;
  margin: 5px 0;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #C9A2FA;
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.main-button:hover,
.main-button:active {
  background-color:  #a368eb;
}
.circle {
  background-color: #89E8EE;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: fixed;
  margin-right: 300px;
  z-index: 0;
}
.errors {
  display: flex;
  padding: 20px;
}
